[submodule "src/deps/known_folders"]
	path = src/deps/known_folders
	url = https://github.com/ziglibs/known-folders
[submodule "src/deps/alg"]
	path = src/deps/alg
	url = https://github.com/kooparse/zalgebra.git
[submodule "src/deps/sdl"]
	path = src/deps/sdl
	url = https://github.com/Jack-Ji/SDL.zig
